.title {
    line-height: 100px;
    text-align: center;
    padding: 30px 0;
}

.title h1 {
    vertical-align: middle;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 18px;
}

.online {
    text-align: center;
}

.online h3 {
    padding-bottom: 20px;
}

.online img {
    width: 200px;
    height: auto;
}

.online #screen {
    width: 325px;
    height: auto;
}

.contatti-img,
.text {
    text-align: center;
}

.contatti-img img {
    width: 200px;
    height: auto;
}

.text h3 {
    padding: 20px 0;
}

.why {
    text-align: center;
}

.why-image img {
    width: 250px;
    background-color: #418bca;
    color: white;
    border-radius: 50%;
    padding: 30px;
    margin: 20px 0;
}

.why-text h3 {
    padding-bottom: 20px;
}

.why-text p {
    padding-bottom: 20px;
}

/* MediaQuery */

@media screen and (max-width: 767px) {

    .title {
        line-height: 50px;
        background-color: sandybrown;
        padding: 10px 0;
    }

    #white-title {
        background-color: white;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 20px;
    }

    .online {
        background-color: sandybrown;
        padding: 0;
    }
    
    .online h3 {
        padding-bottom: 20px;
    }
    
    .online img {
        width: 120px;
        height: auto;
    }
    
    .online #screen {
        width: 180px;
        height: auto;
    }
    
    .contatti-img,
    .text {
        padding: 5px;
    }

    .contatti-img img {
        width: 150px;
    }

    .why {
        background-color: sandybrown;
    }

    .why-image img {
        width: 130px;
        background-color: #418bca;
        color: white;
        border-radius: 50%;
        padding: 30px;
        margin: 20px 0;
    }
    
}
